.mde_fondnuages {
    background: url('images/fond_nuages.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* body {
	background-image: url("images/fond_nuages.jpg");
	background-repeat: no-repeat;
} */

.mde_fondcontenu {
border-radius: 25px;
background-color:grey;
box-shadow: 5px -6px 4px 0px #ECFC85, 
8px -11px 5px 0px #EF5710; /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Box-shadow_generator */
margin: 0px;
padding-bottom: 15px;
}

/*///////////////////////////////////////////////////////////////////*/
/* BANDEAU DEFILANT JQUERY pour les saisies du jour (plugin/liScroll)*/
/*///////////////////////////////////////////////////////////////////*/

.tickercontainer { /* div extérieure contenant le bandeau défilant*/
/*border: 1px solid #000; POUR METTRE UNE BORDURE
background: #fff; POUR METTRE UN FOND*/ 
width: 1000px; 
height: 27px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* Masque pour avoir une sorte de padding à gauche et à droite (géré ds le javascript de liScroll) */
position: relative;
left: 10px;
top: 8px;
width: 965px;
overflow: hidden;
}
.tickercontainer ul { /* Liste des saisies */
position: relative;
left: 1000px;
font: bold 12px Arial;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker { /* géré ds le javascript de liScroll */
position: relative;
left: 950px;
font: bold 12px Arial;
list-style-type: none;
margin: 0;
padding: 0;

}

ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
/* background: #fff; POUR AVOIR UN FOND*/
}

ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px Arial;
margin: 0 50px 0 0;
} 

ul.newsticker span { /* Tous textes dans bandeau défilant sauf spéc particulière */
margin: 0 10px 0 0;
font: bold 12px Arial;
color: #FFFF80;
} 

ul.newsticker .defilant_localisation{ /* continent-pays-département ou province - altitude */
color: #deefef;
font: bold 10px Arial;
vertical-align:absmiddle;
} 

ul.newsticker .defilant_separations{ /* DATE ET HEURE plus signes de séparation entre les données de deux écoles (&&&) */
color: #FFCC33;
font: bold 12px Arial;
} 

/*//////////////*/
/* HEADER */
/*//////////////*/

#mde_cartouche_ecole{ 
	display:block;
	padding: 5px;
	margin: 3px 5px 5px 10px;
	/*width:450px; */
	border: 1px solid #12618b; /* Bordure entourant la date du jour */
	background-color: #FFFFFF;  /* le fond                 */
	border-radius: 5px;
	text-align:center;
	font: bold 10px Arial;
	color: #304f86;
	filter:alpha(opacity=100);   /* Internet Explorer 6     */
	-moz-opacity:1;              /* Mozilla 1.6 et infér.   */
	opacity: 1;                  /* CSS3 et Mozilla récents */
}

/*//////////////*/
/* PAVE DU JOUR */
/*//////////////*/
#mde_pavedujour { 
	/* position: absolute; */
	/*z-index: 1;
	/*width: 480px;  /* paramétrage de la largeur à 20 pixels de moins que le plein écran (800 pixels) pour tenir compte de l'habillage du navigateur et éviter l'apparition d'un ascenseur horizontal */
	/* background: #FFFFFF; */
	min-height:320px;
	border: 1px solid #FFFFFF; /* Bordure entourant le pavé du jour */
	background-color: #649DD8;  /* le fond                 */
	/* filter:alpha(opacity=50);   /* Internet Explorer 6     */
	/* -moz-opacity:0.5;           /* Mozilla 1.6 et infér.   */
	opacity: 0.5;               /* CSS3 et Mozilla récents */
	border-radius: 20px; 
}
#mde_pavedujour h2{ /* Aujourd'hui nous sommes le */
	display:block;
	margin: 5px;
	font: bold 18px Arial;
	color: #FFFF80;
	opacity: 1;               /* CSS3 et Mozilla récents */
}

#mde_datedujour{
	display: block;
	padding: 5px;
	margin-top: 10px;
	/*width:450px;
	border: 1px solid #ffffff; /* Bordure entourant la date du jour */
	/*background-color: #FFFF48;  /* le fond                 */
	border-radius: 20px;
	text-align: center;
	font: bold 24px Arial;
	color: #ffffff;
	background-color: rgb(255, 255, 176);
    background-color: rgba(255, 255, 176, 0.4);
	/*filter: alpha(opacity=100);   /* Internet Explorer 6     */
	/*-moz-opacity: 1;              /* Mozilla 1.6 et infér.   */
	/*opacity: 1;                  /* CSS3 et Mozilla récents */
}
#mde_nbre_saisies_dujour{ 
	display:block;
	padding: 3px;
	margin: 0 auto;
	width:250px;
	border: 0px;
	text-align:center;
	font: bold 10px Arial;
	color: #FFFFFF;
}
#mde_pavedujour_thermometres {
	float: right; /* cet élément est flottant, il faut donc lui attribuer une largeur */
	width: 100px; /* Dans les navigateurs conformes au standard et dans Internet Explorer en mode standard, la largeur réelle de cet élément div est composée de la largeur plus le remplissage et la bordure */
	/* background: #EBEBEB; /* la couleur de l'arrière-plan est affichée sur la largeur du contenu de la colonne, mais pas au-delà */
	margin-top: 90px;
	padding: 0px 5px;
}
/*/////////////////////////////////*/
/* SAISIE ET AFFICHAGE DES DONNEES */
/*/////////////////////////////////*/

/* Zones de saisie (Sélection et panel de côté pour choix) */

.mde_zone_selection {
	/*background-color: #01627D;*/
	border-radius: 10px;
}

.mde_zone_choix {
  background-color: rgb(200, 217, 242);
  background-color: rgba(200, 217, 242, 0.5);
  border-radius: 10px;
}

.mde_affichage_saisie_cartouche_blanc {
	color: #304f86;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #12618b; /* Bordure entourant la date du jour */
	background-color: #FFFFFF;  /* le fond                 */
	border-radius: 5px;
	vertical-align:middle;
	text-align:center;
	margin: 20px;
}

/* Zone de saisie CIEL et TEMPERATURE */

p#mde_image_saisie_ciel{ 
	display:block;
	width:300px;
	height:290px ;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #12618b; /* Bordure entourant la date du jour */
	background-color: #FFFFFF;  /* le fond                 */
	border-radius: 5px;
	text-align:center;
	font: bold 24px Arial;
	color: #304f86;
	filter:alpha(opacity=100);   /* Internet Explorer 6     */
	-moz-opacity:1;              /* Mozilla 1.6 et infér.   */
	opacity: 1;                  /* CSS3 et Mozilla récents */
}

p#mde_affichage_temperature_numerique {
	width:300px;
	height:100px ;
        font: bold 72px Arial;
}

.cadrepictos100{display:inline-block;max-width:100%;height:auto;padding:4px;margin-bottom:3px;line-height:1.42857143;background-color:rgb(255,255,255);background-color:rgba(255,255,255,0.5);border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}

/* Température avec affichage numérique et sur thermomètre*/
p#mde_saisie_thermometre { position: absolute; left: 10px; top: 5; width: 65px ; height: 350px; margin-top: 0px; margin-left: 0px; }
p#mde_thermo_plus5 { position: absolute; left: 130px; top: 43px; width: 50px ; height: 60px; margin-top: 0px; margin-left: 0px; }
p#mde_thermo_plus1 { position: absolute; left: 130px; top: 133px; width: 50px ; height: 60px; margin-top: 0px; margin-left: 0px;}
p#mde_thermo_zero { position: absolute; left: 130px; top: 210px; width: 60px ; height: 60px; margin-top: 0px; margin-left: 0px;}
p#mde_thermo_moins1 { position: absolute; left: 130px; top: 295px; width: 50px ; height: 60px; margin-top: 0px; margin-left: 0px;}
p#mde_thermo_moins5 { position: absolute; left: 130px; top: 363px; width: 50px ; height: 60px; margin-top: 0px; margin-left: 0px; }
.mde_meteo_temperature { position: relative; margin-top: 10px; padding-left: 4px; width: 200px; height: 520px;} 

/* Nuages dans le fond type Météo France */

p#mde_cirrus {
	position: absolute;
	left: 449px;
	top: 93px;
	width: 200px;
	height: 50px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_cirrus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_cirrostratus {
	position: absolute;
	left: 682px;
	top: 141px;
	width: 180px;
	height: 27px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_cirrostratus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_cirrocumulus {
	position: absolute;
	left: 258px;
	top: 126px;
	width: 120px;
	height: 31px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_cirrocumulus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_altocumulus {
	position: absolute;
	left: 316px;
	top: 257px;
	width: 120px;
	height: 53px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_altocumulus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_altostratus {
	position: absolute;
	left: 483px;
	top: 307px;
	width: 200px;
	height: 55px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_altostratus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_cumulus {
	position: absolute;
	left: 183px;
	top: 344px;
	width: 140px;
	height: 110px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_cumulus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_stratus {
	position: absolute;
	left: 495px;
	top: 415px;
	width: 200px;
	height: 40px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_stratus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_nimbostratus {
	position: absolute;
	left: 688px;
	top: 299px;
	width: 211px;
	height: 155px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_nimbostratus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_stratocumulus {
	position: absolute;
	left: 314px;
	top: 383px;
	width: 180px;
	height: 70px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_stratocumulus_sylvain2.png);
	background-repeat: no-repeat
}
p#mde_cumulonimbus {
	position: absolute;
	left: 58px;
	top: 20px;
	width: 156px;
	height: 435px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/nuages_cumulonimbus_sylvain2.png);
	background-repeat: no-repeat
}

#validation_saisie_nuages {
    	position: absolute;
	left: 706px;
	top: 29px;
	width:65px;
	height:50px ;        
}

.mde_meteo_typenuages { position: relative; background-image:url(../images/saisie/fond_nuages800x477.png); background-repeat:no-repeat; width: 800px; height: 477px} 

/* Direction du vent sur fond de Rose des vents */

#mde_vent_nord {
	position: absolute;
	left: 489px;
	top: 21px;
	width: 57px;
	height: 60px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_n_defaut.png);
	background-repeat: no-repeat
}
#mde_vent_nord_est {
	position: absolute;
	left: 632px;
	top: 75px;
	width: 63px;
	height: 62px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_ne_defaut.png);
	background-repeat: no-repeat
}
#mde_vent_est {
	position: absolute;
	left: 685px;
	top: 223px;
	width: 60px;
	height: 57px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_e_defaut.png);
	background-repeat: no-repeat
}
#mde_vent_sud_est {
	position: absolute;
	left: 632px;
	top: 362px;
	width: 63px;
	height: 62px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_se_defaut.png);
	background-repeat: no-repeat
}
#mde_vent_sud {
	position: absolute;
	left: 489px;
	top: 423px;
	width: 57px;
	height: 60px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_s_defaut.png);
	background-repeat: no-repeat
}
#mde_vent_sud_ouest {
	position: absolute;
	left: 341px;
	top: 362px;
	width: 63px;
	height: 62px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_so_defaut.png);
	background-repeat: no-repeat
}
#mde_vent_ouest {
	position: absolute;
	left: 287px;
	top: 223px;
	width: 60px;
	height: 57px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_o_defaut.png);
	background-repeat: no-repeat
}
#mde_vent_nord_ouest {
	position: absolute;
	left: 341px;
	top: 73px;
	width: 63px;
	height: 62px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(../images/saisie/vent_fleche_no_defaut.png);
	background-repeat: no-repeat
}
.mde_rose_des_vents { position: relative; margin: 0 auto; padding-left: 4px; background-image:url(../images/saisie/vent_rose_des_vents_760x560.png); background-repeat:no-repeat; width: 760px; height: 560px} 


p#mde_saisie_vent_texte {
    	position: absolute;
	left: 143px;
	top: 505px;
	width:475px;
	height:50px ;
        font: bold 30px Arial;
        color: #ffffff;
}
#validation_saisie_vent {
    	position: absolute;
	left: 660px;
	top: 502px;
	width:65px;
	height:50px ;        
}
#zone_manche {
    	position: absolute;
	left: 106px;
	top: 102px;
	width:100px;
	height:300px ;        
}
/* Styles généralistes */
#consigne{  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; color: #FFFFFF; text-align:center}
#titretemp{	font-family: Arial, Helvetica, sans-serif;	font-size: 16px; font-weight: normal; color: #FFFFFF; text-align: center}
#nomnuages{	font-family: Arial, Helvetica, sans-serif;	font-size: 12px; font-weight: normal; color: #FFFFFF; text-align: center}
.no-padding > [class*='col-'] {
    padding-right:0px;
    padding-left:0px;
	margin-right:0px;
	margin-left:0px           
}
.mde_alert_div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #ccc;
  border-radius: 6px;
  visibility: hidden;
}
p#entete_fermer_alerte{
display: inline-block;
width: 300px;
text-align: left;
margin-top: 3px;
margin-bottom: 3px;
padding-left: 30px;
border-bottom: #748DAA 1px solid;
background: url(images/croix_fermer.png) no-repeat left top;
}
